a {
    text-decoration: none;
}

/* Global Settings end */

.listcontents {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.listcontents tr:hover{
    background-color: rgb(168,168,168);
}

.navigationBar {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.itempreview {
    width: 60%;
    height: 60%;
}

.loginandsignup {
    text-align: center;
}

.loginandsignup .actButtons {
    display: block;
    margin: 0 auto;
}

.loginandsignup .fillForms {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.newthreadandrequest {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profileimgdiv {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.profileimages {
    width: 15%;
    height: 15%;
}

.descCol {
    width: 21%;
}

.avatarInDetails {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

.top3 {
    font-weight: bold;
    color: red;
}

.errorMsg {
    text-align: center;
    color: red;
    font-weight: bold;
    display: none;
}

#confirmAccept {
    margin-left: auto;
    margin-right: auto;
}

#description p {
    font-style: italic;
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#footnote {
    text-align: center;
    font-size: 10pt;
    color: darkgray;
}

#mainContent {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#homepageBannerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

#mainContent #homepageBanner {
    text-align: center;
}

#homepageBanner + p {
    text-align: center;
}

#subPageTitle p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#mainContent #new {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
}

#ChangeMenu {
    font-size: 14pt;
}

#emailChange, #countryChange, #passwordChange, #pinChange, #submitInfo {
    display: none;
}

#pageBanner {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25pt;
}

#pincode {
    display: none;
}

#searchBar {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#showcoins {
    text-align: right;
    font-size: 13pt;
}

#threadContents {
    border: solid 1px black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    width: 80%;
}

#searchColumn {
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    width: 60%;
}

#searchResult, #collapse {
    display: none;
}

#loginBannerImage {
    margin-left: auto;
    margin-right: auto;
    width: 19%;
    height: 19%;
}
