{% extends 'base.html' %}

{% block title %}Answer Request - Requests - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

<!-- Main content goes here -->
{% block content %}
    <h1 id="pageBanner">Answer Request</h1>
    <div class="newthreadandrequest">
        <form method="POST" action="/doanswerrequest">
            <div class="form-group fillForms">
                <h3>Request Details</h3>
                <p>Title: {{result.title}}</p>
                <p>Contents: {{result.content}}</p>
                <p>Coins for rewards: {{result.rewards}}</p>
            </div>
            <div class="form-group fillForms">
                <label for="content">Contents</label>
                <input type="hidden" id="userID" name="userID" value="{{userID}}">
                <input type="hidden" id="rewards" name="rewards" value="{{result.rewards}}">
                <input type="hidden" id="requestID" name="requestID" value="{{result.requestID}}">
                <textarea class="form-control" id="content" name="content" rows="4" cols="50" required></textarea>
                <small>Do you need LLM for compose contents? <a href="#newthreadandrequest" onclick="loadLLM(2)">Click here to ask LLM to generate content for you</a></small>
            </div>
            <button type="submit" class="btn btn-primary" id="doAnswerRequestSubmit">Submit</button>
            </form>
            <br>
            <p><a href="/requests" title="Back">Back to requests</a></p>
    </div>
{% endblock %}