<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block javascript %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navigationBar rounded-pill">
        <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" title="Back to homepage">Adventurer Guild</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <!-- If not logged in, show below navi bar -->
                {% if current_user.is_anonymous %}
                <li class="{% if request.path == '/' %}active{% endif %}{% if request.path == '/index' %}active{% endif %}"><a href="/" title="Homepage">Home</a></li>
                <li class="{% if request.path == '/login' %}active{% endif %}"><a href="/login" title="Login">Login</a></li>
                <li class="{% if request.path == '/register' %}active{% endif %}"><a href="/register" title="Sign Up">Sign Up</a></li>
                <!-- If logged in, show below navi bar -->
                {% else %}
                <li class="{% if request.path == '/profile' %}active{% endif %}"><a href="/profile" title="Home & Profile">Home</a></li>
                <li class="{% if request.path == '/requests' %}active{% endif %}"><a href="/requests" title="Requests">Request List</a></li>
                <li class="{% if request.path == '/todo' %}active{% endif %}"><a href="/todo" title="To-do list">To-do List</a></li>
                <li class="{% if request.path == '/shop' %}active{% endif %}"><a href="/shop" title="Shop">Shop</a></li>
                <li class="{% if request.path == '/community' %}active{% endif %}"><a href="/community" title="Community">Community</a></li>
                <li class="{% if request.path == '/leaderboard' %}active{% endif %}"><a href="/leaderboard" title="Leaderboard">Leaderboard</a></li>
                <li class="{% if request.path.startswith('/chat') %}active{% endif %}"><a href="/chat" title="Chat">Chatroom</a></li>
                <li class="{% if request.path == '/help' %}active{% endif %}"><a href="/help" title="Help Center Chat Bot">Help Center</a></li>
                <li class="{% if request.path == '/logout' %}active{% endif %}"><a href="/logout" title="Logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        </div>
      </nav>
    <!-- Main content goes here -->
    <div id="mainContent">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
