{% extends 'base.html' %}

{% block title %}Information Modification Center - Adventurer Guild{% endblock %}

{% block javascript %}
<script src="{{url_for('static',filename='js/changeinfo.js')}}"></script>
{% endblock %}

<!-- Main content goes here -->
{% block content %}
  {% if infomsg %}
    <div class="alert alert-danger">{{ infomsg }}</div>
  {% endif %}
  <h1 id="homepageBanner">Information Modification Center</h1>
  <div class="loginandsignup">
      <p>Modify your personal information here.</p>
      <br>
      <p>What do you want to change?</p>
      <ul class="pagination" id="ChangeMenu">
        <li><a href="#mainContent" id="chooseChangeEmail">Email Address</a></li>
        <li><a href="#mainContent" id="chooseChangeCountry">Country/Region</a></li>
        <li><a href="#mainContent" id="chooseChangePassword">Password</a></li>
        <li><a href="#mainContent" id="chooseChangePin">PIN Code</a></li>
      </ul>
      <br>
      <form method="POST" action="/modifycenter" id="modifyPassword" onsubmit="return checkSubmittedForm()">
          <input type="hidden" id="type" name="type" value="NoType">
          <div class="form-group fillForms" id="emailChange">
            <label for="newEmail">New Email Address</label>
            <input type="email" class="form-control" id="newEmail" name="newEmail" placeholder="New Email">
            <label for="repeatNewEmail">Repeat New Email Address</label>
            <input type="email" class="form-control" id="repeatNewEmail" name="repeatNewEmail" placeholder="Repeat New Email">
          </div>
          <div class="form-group fillForms" id="countryChange">
              <label for="country">Country/Region</label>
              <input type="text" class="form-control" id="country" name="country" placeholder="Type your country/region">
          </div>                    
          <div id="passwordChange">
              <div class="form-group fillForms">
                <label for="newpassword">New Password</label>
                <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New Password" minlength="4" maxlength="32" title="Password must be between 4 and 32 characters, inclusive.">
                <p>Note: The password cannot be lower than 4 characters or higher than 32 characters.</p>
              </div>
              <div class="form-group fillForms">
                <label for="repeatnewpassword">Repeat New Password</label>
                <input type="password" class="form-control" id="repeatnewpassword" name="repeatnewpassword" placeholder="Repeat New Password" minlength="4" maxlength="32" title="Password must be between 4 and 32 characters, inclusive.">
              </div>
              <div class="form-group fillForms">
                  <label for="pin-code">PIN Code</label>
                  <input type="password" class="form-control" id="pin-code" name="pin-code" placeholder="Pin Code" pattern="[0-9]*" minlength="4" title="Please enter only numbers (min 4 digits).">
              </div>
          </div>
          <div id="pinChange">
            <div class="form-group fillForms">
              <label for="oldpin">Old Pin Code</label>
              <input type="password" pattern="[0-9]*" minlength="4" title="Please enter only numbers (min 4 digits)." class="form-control" id="oldpin" name="oldpin" placeholder="Old Pin Number" >
            </div>
            <div class="form-group fillForms">
              <label for="newpin">New Pin Code</label>
              <input type="password" pattern="[0-9]*" minlength="4" title="Please enter only numbers (min 4 digits)." class="form-control" id="newpin" name="newpin" placeholder="New Pin" >
              <p>Please note that pin code cannot less than <b>4 digits</b></p>
            </div>
            <div class="form-group fillForms">
                <input type="hidden" id="userID" name="userID" value="{{userID}}">
                <label for="repeatnewpin">Repeat New Pin Code</label>
                <input type="password" pattern="[0-9]*" minlength="4" title="Please enter only numbers (min 4 digits)." class="form-control" id="repeatnewpin" name="repeatnewpin" placeholder="Repeat Pin Code" >
            </div>
          </div>
          <button type="submit" id="submitInfo" class="btn btn-primary actButtons">Change Information</button>
        </form>
        <br>
        <p><a href="/profile" title="Cancel request">Cancel Modify Request</a></p>
  </div>
{% endblock %}