<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Modification Center - Adventurer Guild</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <script src="{{url_for('static',filename='js/changeinfo.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <nav class="navbar navbar-default navigationBar rounded-pill" aria-label="navigationBar">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Adventurer Guild</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/profile">Home</a></li>
                <li><a href="/requests">Request List</a></li>
                <li><a href="/todo">To-do List</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
  </nav>
      <div id="mainContent">
            {% if infomsg %}
              <div class="alert alert-danger">{{ infomsg }}</div>
            {% endif %}
            <h1 id="homepageBanner">Information Modification Center</h1>
            <div class="loginandsignup">
                <p>Modify your personal information here.</p>
                <br>
                <p>What do you want to change?</p>
                <ul class="pagination" id="ChangeMenu">
                  <li><a href="#mainContent" id="chooseChangeEmail">Email Address</a></li>
                  <li><a href="#mainContent" id="chooseChangeCountry">Country/Region</a></li>
                  <li><a href="#mainContent" id="chooseChangePassword">Password</a></li>
                  <li><a href="#mainContent" id="chooseChangePin">PIN Code</a></li>
                </ul>
                <br>
                <form method="POST" action="/modifycenter" id="modifyPassword" onsubmit="return checkSubmittedForm()">
                    <input type="hidden" id="type" name="type" value="NoType">
                    <div class="form-group fillForms" id="emailChange">
                      <label for="newEmail">New Email Address</label>
                      <input type="email" class="form-control" id="newEmail" name="newEmail" placeholder="New Email" >
                      <label for="repeatNewEmail">Repeat New Email Address</label>
                      <input type="email" class="form-control" id="repeatNewEmail" name="repeatNewEmail" placeholder="Repeat New Email" >
                    </div>
                    <div class="form-group fillForms" id="countryChange">
                        <label for="country">Country/Region</label>
                        <input type="text" class="form-control" id="country" name="country" placeholder="Type your country/region" >
                    </div>
                    <div id="pinChange">
                      <div class="form-group fillForms">
                        <label for="oldpin">Old Pin Code</label>
                        <input type="password" class="form-control" id="oldpin" name="oldpin" placeholder="Old Pin Number" >
                      </div>
                      <div class="form-group fillForms">
                        <label for="newpin">New Pin Code</label>
                        <input type="password" class="form-control" id="newpin" name="newpin" placeholder="New Pin" >
                        <p>Please note that pin code cannot less than <b>4 letters</b></p>
                      </div>
                      <div class="form-group fillForms">
                          <input type="hidden" id="userID" name="userID" value="{{userID}}">
                          <label for="repeatnewpin">Repeat New Pin Code</label>
                          <input type="password" class="form-control" id="repeatnewpin" name="repeatnewpin" placeholder="Repeat Pin Code" >
                      </div>
                    </div>
                    <div id="passwordChange">
                        <div class="form-group fillForms">
                          <label for="newpassword">New Password</label>
                          <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New Password" >
                        </div>
                        <div class="form-group fillForms">
                          <label for="repeatnewpassword">Repeat New Password</label>
                          <input type="password" class="form-control" id="repeatnewpassword" name="repeatnewpassword" placeholder="Repeat New Password" >
                        </div>
                        <div class="form-group fillForms">
                            <label for="pin-code">PIN Code</label>
                            <input type="password" class="form-control" id="pin-code" name="pin-code" placeholder="Pin Code" >
                        </div>
                    </div>
                    <button type="submit" id="submitInfo" class="btn btn-primary actButtons">Change Information</button>
                  </form>
                  <br>
                  <p><a href="/profile" title="Cancel request">Cancel Modify Request</a></p>
            </div>
      </div>
</body>
</html>