{% extends 'base.html' %}

{% block title %}Chatroom - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

<!-- Main content goes here -->
{% block content %}
    <h1 id="pageBanner">Chatroom - Ticketing System</h1>
    <p>You can contact with NPC or other Adventurers here.</p>
    {% if errmsg %}
        <div class="alert alert-danger">{{ errormsg }}</div>
    {% elif infomsg%}
        <div class="alert alert-info">{{ infomsg }}</div>
    {% endif %}
    <div id="searchBar">
        <form method="POST" action="/dochatsearch">
            <p>Search: </p>
            <p><input type="text" class="form-control" id="keyword" name="keyword" placeholder="Insert Keywords to search. Support fuzzy search." required></p>
            <button type="submit" id="searchButton" class="btn btn-info" name="submitSearch">Search</button>
        </form>
    </div>
    <div id="new">
        <p><a href="/newchat" title="New Ticket"><ion-icon name="add-circle-outline"></ion-icon> Compose New Ticket</a></p>
    </div>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Source User ID</th>
            <th scope="col">Receiver User ID</th>
            <th scope="col">Continue Chat</th>
            <th scope="col">Delete Chat</th>
        </tr>
        {% set displayed_chatids = [] %}
        {% for resultitem in results %}
            {% if resultitem.chatID not in displayed_chatids %}
                <tr>
                    <td>{{ resultitem.chatID }}</td>
                    <td><a href="/profile/{{ resultitem.srcUserID }}" title="View Details" target="_blank">{{ resultitem.srcUserID }}</a></td>
                    <td><a href="/profile/{{ resultitem.dstUserID }}" title="View Details" target="_blank">{{ resultitem.dstUserID }}</a></td>
                    <td><a href="/chat/{{ resultitem.chatID }}" title="Continue Chat">Continue Chat</a></td>
                    <td><a href="/deletechat/{{ resultitem.chatID }}" title="Delete Chat"><ion-icon name="close-circle-outline"></ion-icon> Delete</a></td>
                </tr>
                {% set _ = displayed_chatids.append(resultitem.chatID) %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}