{% extends 'base.html' %}

{% block title %}Chatroom - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

<!-- Main content goes here -->
{% block content %}
    <h1 id="pageBanner">Ticketing with {{dstUser}}</h1>
    <br>
    <div>
        <table id="threadContents" class="table table-striped listcontents">
            <thead>
                <tr>
                    <td class="col descCol">User ID</td>
                    <td class="col">Content</td>
                </tr>
            </thead>
            <tbody>
            {% for resultitem in results %}
            <tr>
                <td class="descCol"><a href="/profile/{{resultitem.srcUserID}}" title="View User Profile" target="_blank">
                    <img src="{{url_for('static',filename='nft/' + resultitem.avatar + '.png')}}" alt="Avatar" class="avatarInDetails">
                    <br>{{ resultitem.srcUserID }}</a></td>
                <td>{{ resultitem.content }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    <div class="newthreadandrequest">
        <form method="POST" action="/dochatreply">
            <div class="form-group fillForms">
                <label for="content">Contents</label>
                <input type="hidden" id="chatID" name="chatID" value="{{chatID}}">
                <input type="hidden" id="dstUser" name="dstUser" value="{{dstUser}}">
                <textarea class="form-control" id="content" name="content" rows="4" cols="50" required></textarea>
            </div>
            <button type="submit" id="doSubmit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <p><a href="/chat" title="Back">Back to chatroom</a></p>
    </div>
{% endblock %}