{% extends 'base.html' %}

{% block title %}Community - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
    <h1 id="pageBanner">Community</h1>
    <p>Let's chat with other adventurers and NPCs.</p>
    <div id="searchBar">
        <form method="POST" action="/docommsearch">
            <p>Search: </p>
            <p><input type="text" class="form-control" id="keyword" name="keyword" placeholder="Insert thread ID or title to search. Support fuzzy search." required></p>
            <button type="submit" id="searchButton" class="btn btn-info" name="submitSearch">Search</button>
        </form>
    </div>
    <div id="new">
        <p><a href="/newthread" title="New Thread"><ion-icon name="add-circle-outline"></ion-icon> New Thread</a></p>
    </div>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Delete Thread</th>
        </tr>
        {% for resultitem in result %}
        <tr>
            <td>{{ resultitem.threadID }}</td>
            <td><a href="thread/{{resultitem.threadID}}" title="View Details">{{ resultitem.title }}</a></td>
            <td>{{ resultitem.userID }}</td>
            {% if userID|int == resultitem.userID|int %}
                <td><a href="/deletethread/{{resultitem.userID}}/{{resultitem.threadID}}" title="Delete this thread"><ion-icon name="close-circle-outline"></ion-icon> Delete</a></td>
            {% else %}
                <td>No Permission</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}