{% extends 'base.html' %}

{% block title %}Confirm Payment - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
    <h1 id="pageBanner">Confirm Payment</h1>
    <p>Please confirm you will purchase following item.</p>
    <p>This request will be shown on your profile.</p>
    <br>
    <h3>Item Details</h3>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="descCol">Item Preview</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
        </tr>
        <tr>
            <td>{{ result.itemID }}</td>
            <td class="descCol"><img src="{{ url_for('static', filename='nft/' + result.itemID|string + '.png') }}" alt="Item Preview" class="itempreview"></td>
            <td>{{ result.itemDetail }}</td>
            <td>$$ {{ result.price }}</td>
        </tr>
        </tbody>
    </table>
    <div id="confirmAccept">
        <p>Warning: you cannot ask for refund once you confirm payment.</p>
        <button type="button" class="btn btn-success" id="confirmPayments" onclick="confirmPayment({{ result.itemID }})">Yes, I confirm</button>
        <button type="button" class="btn btn-danger" id="denyAccept" onclick="denyPayment()">No, I need to do further consideration</button>
    </div>
{% endblock %}