<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password - Adventurer Guild</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <nav class="navbar navbar-default navigationBar rounded-pill">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Adventurer Guild</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
        </ul>
    </div>
    </div>
  </nav>
      <div id="mainContent">
            {% if errormsg %}
              <div class="alert alert-danger">{{ errormsg }}</div>
            {% endif %}
            <h1 id="homepageBanner">Forget Password</h1>
            <p>Forget your password? No panic! Let we help you!</p>
            <div class="loginandsignup">
                <p>Input your details to reset your password.</p>
                <form method="POST" action="/doresetpassword">
                    <div class="form-group fillForms">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email Address" required>
                    </div>
                    <div class="form-group fillForms">
                        <label for="pin-code">PIN Code</label>
                        <input type="password" class="form-control" id="pin-code" name="pin-code" placeholder="Pin Code" required>
                    </div>
                    <button type="submit" id="doSubmit" class="btn btn-primary actButtons">Reset Password</button>
                  </form>
                <br>
                <p>Remembered password? <a href="/login" title="Register">Login Now!</a></p>
            </div>
      </div>
</body>
</html>