{% extends 'base.html' %}

{% block title %}Welcome - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
  <div>
    <img src="{{url_for('static',filename='img/bannerImage.png')}}" alt="Homepage Banner" id="homepageBannerImg">
  </div>
  <h1 id="homepageBanner">Welcome to Adventurer Guild!</h1>
  <div id="description">
    <p>Join the Adventurers Guild! A vibrant online platform where you can post quests, connect with fellow adventurers,
      and embark on thrilling adventures together. Sign up now and start your journey!</p>
  </div>
  <br>
  <div class="loginandsignup">
      <button type="button" class="btn btn-default btn-lg" id="login" onclick="window.location.href='/login'">Login</button>
      <button type="button" class="btn btn-primary btn-lg" id="register" onclick="window.location.href='/register'">Sign Up</button>
  </div>
{% endblock %}