{% extends 'base.html' %}

{% block title %}Leaderboard - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

<!-- Main content goes here -->
{% block content %}
    <h1 id="pageBanner">LeaderBoard</h1>
    <p>Guess who are top 3?</p>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User ID</th>
            <th scope="col">Coins</th>
        </tr>
        {% for resultitem in result %}
            <tr>
                {% if loop.index|int <= 3 %}
                    <td><ion-icon name="rocket-outline"></ion-icon> {{ loop.index }}</td>
                {% else %}
                    <td>{{ loop.index }}</td>
                {% endif %}
                <td><a href="profile/{{resultitem.userID}}" title="View Details">{{ resultitem.userID }}</a></td>
                <td>{{ resultitem.coins }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}