{% extends 'base.html' %}

{% block title %}Login - Adventurer Guild{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function(){
    var defaultImageLoaded = false;
    var defaultImageSrc = "{{ url_for('static', filename='img/defaultlogin.png') }}"; // Default Image URL
    if (!defaultImageLoaded){
      $("#loginBannerImage").attr("src", defaultImageSrc); // Pass the default image URL to html
      defaultImageLoaded = true;
    }
    $("#password").on('input', function() {
      $("#loginBannerImage").attr("src", "{{ url_for('static', filename='img/inputpassword.png') }}");
    }); // When user input the password, the banner will change
    $("#mainContent").on('click', function(){
      $("#loginBannerImage").attr("src", defaultImageSrc);
    });
    $("form").submit(function(){
      $("#loginBannerImage").attr("src", defaultImageSrc);
    }); 
    // When user is input email address, click on elsewhere, or click on submit button, 
    // the image will back to default
  });
</script>
{% endblock %}

{% block content %}
  {% if errormsg %}
    <div class="alert alert-danger">{{ errormsg }}</div>
  {% endif %}
  <h1 id="homepageBanner">Welcome back!</h1>
  <div id="subPageTitle"><p>Ad astra abyssosque!</p></div>
  <div class="loginandsignup">
    <div>
      <img src="{{url_for('static',filename='img/defaultlogin.png')}}" id="loginBannerImage" alt="Login Banner Image">
    </div>
      <form method="POST" action="/dologin">
        {{ form.hidden_tag() }}
          <div class="form-group fillForms">
              <label for="email">Email address</label>
              {{ form.email(class="form-control", id="email", type="email", placeholder="Email Address", required=true) }}
          </div>
          <div class="form-group fillForms">
              <label for="password">Password</label>
              {{ form.password(class="form-control", id="password", placeholder="Password", required=true) }}
          </div>
          {{ form.submit() }}
        </form>
      <br>
      <p>Forgot password? <a href="/forgetpassword" title="Register">Find it now!</a></p>
      <p>Haven't signup yet? <a href="/register" title="Register">Sign Up Now!</a></p>
  </div>
{% endblock %}

