<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout - Adventurer Guild</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <nav class="navbar navbar-default navigationBar rounded-pill">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Adventurer Guild</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
        </ul>
    </div>
    </div>
  </nav>
      <div id="mainContent">
            <h1 id="homepageBanner">Logout process completed.</h1>
            <div class="loginandsignup">
                <p>You have logged out from the system. We're waiting for your next login.</p>
                <p><i>Ad astra abyssosque!</i></p>
                <br>
                <p><a href="/" title="Back to homepage">Back to homepage</a></p>
            </div>
      </div>
</body>
</html>