<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Password - Adventurer Guild</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <script src="{{url_for('static',filename='js/resetstuff.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <nav class="navbar navbar-default navigationBar rounded-pill">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Adventurer Guild</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/profile">Home</a></li>
                <li><a href="/requests">Request List</a></li>
                <li><a href="/todo">To-do List</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
  </nav>
      <div id="mainContent">
            {% if infomsg %}
              <div class="alert alert-danger">{{ infomsg }}</div>
            {% endif %}
            <h1 id="homepageBanner">Modify Password</h1>
            <div class="loginandsignup">
                <p>Input your details to modify your password.</p>
                <form method="POST" action="/domodifypassword" id="modifyPassword">
                    <div class="form-group fillForms">
                      <label for="newpassword">New Password</label>
                      <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New Password" required>
                    </div>
                    <div class="form-group fillForms">
                      <label for="repeatnewpassword">Repeat New Password</label>
                      <input type="password" class="form-control" id="repeatnewpassword" name="repeatnewpassword" placeholder="Repeat New Password" required>
                    </div>
                    <div class="form-group fillForms">
                        <input type="hidden" id="userID" name="userID" value="{{userID}}">
                        <label for="pincode">PIN Code</label>
                        <input type="password" class="form-control" id="pincode" name="pincode" placeholder="Pin Code" required>
                    </div>
                    <button type="submit" id="doSubmit" class="btn btn-primary actButtons">Change Password</button>
                  </form>
                  <br>
                  <p><a href="/profile" title="Cancel request">Cancel Modify Request</a></p>
            </div>
      </div>
</body>
</html>