{% extends 'base.html' %}

{% block title %}My Requests - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
    <h1 id="pageBanner">My Requests</h1>
    <p>View all requests posted by you. Regardless the status.</p>
    <div id="new">
        <p><a href="/requests" title="Requests">Back to Requests Center</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/newrequest" title="New Requests">New Requests</a></p>
    </div>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Rewards</th>
            <th scope="col">Time Limit</th>
            <th scope="col">Status</th>
        </tr>
        {% for resultitem in result %}
                <tr>
                    <td>{{ resultitem.requestID }}</td>
                    <td><a href="requestdetails/{{resultitem.requestID}}" title="View Details">{{ resultitem.title }}</a></td>
                    <td>{{ resultitem.rewards }}</td>
                    <td>{{ resultitem.timelimit }}</td>
                    <td>{{ resultitem.status }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}