{% extends 'base.html' %}

{% block title %}New Thread - Community - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

<!-- Main content goes here -->
{% block content %}
    {% if errmsg %}
        <div class="alert alert-danger">{{ errormsg }}</div>
    {% elif infomsg %}
        <div class="alert alert-info">{{ infomsg }}</div>
    {% endif %}
    <h1 id="pageBanner">New Thread</h1>
    <div class="newthreadandrequest">
        <form method="POST" action="/newthread">
            {{ form.hidden_tag() }}
            <div class="form-group fillForms">
                <label for="title">Thread Title</label>
                {{ form.title(class="form-control", id="title", placeholder="Thread Title", required=true)}}
            </div>
            <div class="form-group fillForms">
                <label for="content">Contents</label>
                {{ form.contents(class="form-control", id="content", rows="4", cols="50", required=true)}}
            </div>
            {{ form.submit() }}
            </form>
            <br>
            <p><a href="/community" title="Back">Back to community</a></p>
    </div>
{% endblock %}