{% extends 'base.html' %}

{% block title %}{{userID_Show_On_Browser}} - Profile - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

<!-- Main content goes here -->
{% block content %}
    {% if infomsg %}
        <div class="alert alert-info">{{ infomsg }}</div>
    {% endif %}
    <h1 id="pageBanner">{{userID}}'s Profile</h1>
    <div class="profileimgdiv">
        <img src="{{ url_for('static', filename='nft/' + nftid + '.png') }}" alt="Avatar" class="profileimages">
        <p>Avatar</p>
    </div>
    <br>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Email Address</th>
            <th scope="col">Location</th>
            <th scope="col">Coins</th>
        </tr>
        {% for useritems in user_details %}
        <tr>
            <td>{{useritems.userID}}</td>
            <td>{{useritems.email}}</td>
            <td>{{useritems.country}}</td>
            <td>{{useritems.coins}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}