{% extends 'base.html' %}

{% block title %}{{userID}} - Profile - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

<!-- Main content goes here -->
{% block content %}
    {% if infomsg %}
        <div class="alert alert-info">{{ infomsg }}</div>
    {% endif %}
    <h1 id="pageBanner">My Profile</h1>
    <p>Here's your home!</p>
    {% for useritems in user_details %}
    <div class="profileimgdiv">
        <img src="{{ url_for('static', filename='nft/' + useritems.avatar|string + '.png') }}" alt="Avatar" class="profileimages">
        <p>Avatar</p>
    </div>
    <br>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Email Address</th>
            <th scope="col">Location</th>
            <th scope="col">Coins</th>
        </tr>
        <tr>
            <td>{{useritems.userID}}</td>
            <td>{{useritems.email}}&nbsp;<a href="/modifycenter" title="Change Email"><ion-icon name="create-outline"></ion-icon> Edit</a></td>
            <td>{{useritems.country}}&nbsp;<a href="/modifycenter" title="Change country/region"><ion-icon name="create-outline"></ion-icon> Edit</a></td>
            <td>{{useritems.coins}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <h3>Account Actions</h3>
        <div>
            <table class="table table-striped listcontents">
                <tbody>
                    <tr>
                        <th scope="col">Password</th>
                        <th scope="col">Pin code</th>
                        <th scope="col">3rd Profile View</th>
                    </tr>
                    <tr>
                        <td><a href="/modifycenter" title="Change Password"><ion-icon name="create-outline"></ion-icon> Change Password</a></td>
                        <td><button type="button" id="showpin" class="btn btn-success">Show/Hide Pin Code</button>
                            <div id="pincode">{{pincode}}</div>&nbsp;<a href="/modifycenter" title="Modify PIN"><ion-icon name="create-outline"></ion-icon> Modify Pin Code</a></td>
                        <td><a href="/profile/{{userID}}" title="View my profile in 3rd views" target="_blank"><ion-icon name="desktop-outline"></ion-icon> View my profile as 3rd person view</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3>My Signs History</h3>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Emotional Feelings</th>
            <th scope="col">Comments</th>
            <th scope="col">Rewards</th>
        </tr>
        {% for item in signHistory %}
        <tr>
            <td>{{item.time}}</td>
            <td>{{item.emotion}}</td>
            <td>{{item.comments}}</td>
            <td>+ $${{item.rewards}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>My Items</h3>
    <p><a href="/setavatar/default" title="Restore Default Avatar">Restore Default Avatar</a></p>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col" class="descCol">Transaction ID</th>
            <th scope="col" class="descCol">Item Preview</th>
            <th scope="col">Set as avatar</th>
        </tr>
        {% for nftitem in nft_details %}
        <tr>
            <td class="descCol">{{nftitem.transactionID}}</td>
            <td class="descCol"><img src="{{ url_for('static', filename='nft/' + nftitem.itemID|string + '.png') }}" alt="Item Preview" class="itempreview"></td>
            <td><a href="/setavatar/{{nftitem.itemID}}" title="Set as avatar">Set as avatar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}