{% extends 'base.html' %}

{% block title %}Sign Up - Adventurer Guild{% endblock %}

{% block javascript %}
  <script src="{{url_for('static',filename='js/register.js')}}"></script>
{% endblock %}

<!-- Main content goes here -->
{% block content %}
  {% if errormsg %}
    <div class="alert alert-danger">{{ errormsg }}</div>
  {% endif %}
  <h1 id="homepageBanner">Become an user!</h1>
  <div id="subPageTitle"><p>Become an adventurer now!</p></div>
  <div class="loginandsignup">
      <form method="POST" action="/register" id="registerForm">
        {{ form.hidden_tag() }}
          <div class="form-group fillForms">
            <label for="email">Email address</label>
            {{ form.email(class="form-control", id="email", placeholder="Email Address", required=true) }}
          </div>
          <div class="form-group fillForms">
            <label for="password">Password</label>
            {{ form.password(class="form-control", id="password", placeholder="Password", required=true) }}
            <p>Note: The password can not lower than 4 words and higher than 32 words.</p>
          </div>
          <div class="form-group fillForms">
              <label for="repeat_password">Repeat Password</label>
              {{ form.repeat_password(class="form-control", id="repeat_password", placeholder="Repeat Password", required=true) }}
            </div>
          <div class="form-group fillForms">
              <label for="pin_code">PIN Code</label>
              {{ form.pin_code(class="form-control", id="pin_code", placeholder="PIN Code", required=true) }}
              <p>The pin code is used for reset or modify your password. Please <b>keep it safe.</b></p>
              <p>Note: The PIN code cannot less than <b>4 letters.</b></p>
            </div>
          {{ form.submit(id="dosubm") }}
          <div id="whydisableSubButt"><p>&nbsp;</p></div>
        </form>
      <br>
      <p>Already have an account? <a href="/login" title="Login">Login Now!</a></p>
  </div>

{% endblock %}