{% extends 'base.html' %}

{% block title %}Requests - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

<!-- Main content goes here -->
{% block content %}
    <h1 id="pageBanner">Requests</h1>
    <p>Here are all requests posted by NPC.</p>
    {% if errmsg %}
        <div class="alert alert-danger">{{ errormsg }}</div>
    {% elif infomsg%}
        <div class="alert alert-info">{{ infomsg }}</div>
    {% endif %}
    <div id="showcoins">
        <p><ion-icon name="logo-bitcoin"></ion-icon> Your coins: {{coins}}</p>
    </div>
    <div id="searchBar">
        <form method="POST" action="/doreqsearch">
            <p>Search: </p>
            <p><input type="text" class="form-control" id="keyword" name="keyword" placeholder="Insert Keywords to search. Support fuzzy search." required></p>
            <button type="submit" id="searchButton" class="btn btn-info" name="submitSearch">Search</button>
        </form>
    </div>
    <div id="new">
        <p><a href="/myrequest" title="My requests"><ion-icon name="alert-circle-outline"></ion-icon> My Requests</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/newrequest" title="New Requests"><ion-icon name="add-circle-outline"></ion-icon> New Requests</a></p>
    </div>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">NPC</th>
            <th scope="col">Rewards</th>
            <th scope="col">Time Limit</th>
            <th scope="col">Delete Request</th>
        </tr>
        {% for resultitem in result %}
            {% if resultitem.status == 'Available' %}
                <tr>
                    <td>{{ resultitem.requestID }}</td>
                    <td><a href="acceptrequest/{{resultitem.requestID}}" title="View Details">{{ resultitem.title }}</a></td>
                    <td><a href="profile/{{resultitem.userID}}" title="View Details">{{ resultitem.userID }}</a></td>
                    <td>{{ resultitem.rewards }}</td>
                    <td>{{ resultitem.timelimit }}</td>
                    {% if userid == resultitem.userID %}
                        <td><a href="/deleterequest/{{resultitem.userID}}/{{resultitem.requestID}}" title="Delete Request"><ion-icon name="close-circle-outline"></ion-icon> Delete</a></td>
                    {% else %}
                        <td>No permission</td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <div id="footnote">
        <p>Hint: Click on the request title to view details and accept the request.</p>
        <p>Note: Please delete and repost your request if you want to modify request.</p>
    </div>
{% endblock %}