{% extends 'base.html' %}

{% block title %}Request Detail - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
    {% if errmsg %}
        <div class="alert alert-danger">{{ errormsg }}</div>
    {% endif %}
    <h1 id="pageBanner">Request Snapshot</h1>
    <p>You can view the accepted request details here.</p>
    <br>
    <h3>Request Details</h3>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Request Title</th>
            <th scope="col">Request Content</th>
            <th scope="col">Rewards</th>
            <th scope="col">Time Limitation</th>
            <th scope="col">NPC User ID</th>
            <th scope="col">Status</th>
        </tr>
        <tr>
            <td>{{ result.requestID }}</td>
            <td>{{ result.title }}</td>
            <td>{{ result.content }}</td>
            <td>{{ result.rewards }}</td>
            <td>{{ result.timelimit }}</td>
            <td><a href="/profile/{{result.userID}}" title="View NPC details" target="_blank">{{ result.userID }}</a></td>
            <td>{{ result.status }}</td>
        </tr>
        </tbody>
    </table>
    <h3>Answer provided</h3>
    <p>{{ result.answer }}</p>
{% endblock %}