{% extends 'base.html' %}

{% block title %}To-do List - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
    {% if infomsg %}
        <div class="alert alert-info">{{ infomsg }}</div>
    {% endif %}
    <h1 id="pageBanner">NFT Shop</h1>
    <p><i>Is the Order a Rabbit?</i></p>
    <div id="showcoins">
        <p><ion-icon name="logo-bitcoin"></ion-icon> Your coins: {{coins}}</p>
    </div>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="descCol">Item Preview</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Buy</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item.itemID }}</td>
            <td class="descCol"><img src="{{ url_for('static', filename='nft/' + item.itemID|string + '.png') }}" alt="Item Preview" 
                class="itempreview"></td>
            <td>{{ item.itemDetail }}</td>
            <td>$$ {{ item.price }}</td>
            <td><a href="/confirmpayment/{{ item.itemID }}" title="Buy"><ion-icon name="cart-outline"></ion-icon> Buy</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}