{% extends 'base.html' %}

{% block title %}Signs - Requests - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

<!-- Main content goes here -->
{% block content %}
    {% if msg and msg != "null" %}
        <div class="alert alert-info">{{ msg }}</div>
    {% else %}
        <div class="alert alert-info">
            <p>Sign your feelings and get random coins rewards!</p>
        </div>
    {% endif %}
    <h1 id="pageBanner">Sign your emotion and get coins!</h1>
    <div class="newthreadandrequest">
        <form method="POST" action="/signs">
            {{ form.hidden_tag() }}
            <div class="form-group fillForms">
                <label for="feelings">My feelings</label>
                {{ form.feelings(class="form-control", id="feelings", placeholder="My Feelings (e.g. Happy)", required=true) }}
            </div>
            <div class="form-group fillForms">
                <label for="content">Comments</label>
                {{ form.comments(class="form-control", id="content", rows="4", cols="50", required=true) }}
                <small>Do you need LLM for compose contents? <a href="#mainContent" onclick="loadLLM(3)">Click here to ask LLM to generate content for you</a></small>
            </div>
            {{ form.submit() }}
            </form>
            <br>
    </div>
{% endblock %}