<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thread Detail - {{threadID}} - Community - Adventurer Guild</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <nav class="navbar navbar-default navigationBar rounded-pill">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Adventurer Guild</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/profile/{{username}}">Home</a></li>
                <li><a href="/requests">Request List</a></li>
                <li><a href="/todo">To-do List</a></li>
                <li><a href="/shop">Shop</a></li>
                <li class="active"><a href="/community">Community</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
  </nav>
      <div id="mainContent">
            <h1 id="pageBanner">{{threadName}}</h1>
            <div>
                <table id="threadContents" class="table table-striped listcontents">
                    <thead>
                        <tr>
                            <td class="col">User ID</td>
                            <td class="col">Content</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for resultitem in result %}
                    <tr>
                        <td><a href="/profile/{{resultitem[1]}}" title="View user info" target="_blank">{{ resultitem[1] }}</a></td>
                        <td>{{ resultitem[2] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
            <div class="newthreadandrequest">
                <form method="POST" action="/donewthreadreply">
                    <div class="form-group fillForms">
                        <label for="content">Contents</label>
                        <input type="hidden" id="threadID" name="threadID" value="{{threadID}}">
                        <textarea class="form-control" id="content" name="content" rows="4" cols="50" required></textarea>
                    </div>
                    <button type="submit" id="doSubmit" class="btn btn-primary">Submit</button>
                  </form>
                  <br>
                  <p><a href="/community" title="Back">Back to community</a></p>
            </div>
      </div>
</body>
</html>