{% extends 'base.html' %}

{% block title %}To-do List - Adventurer Guild{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
    <h1 id="pageBanner">To-do List</h1>
    <p>Here's all the things you need to do.</p>
    {% if errmsg %}
        <div class="alert alert-danger">{{ errmsg }}</div>
    {% elif infomsg%}
        <div class="alert alert-info">{{ infomsg }}</div>
    {% endif %}
    <div id="showcoins">
        <p><ion-icon name="logo-bitcoin"></ion-icon> Your coins: {{coins}}</p>
    </div>
    <br>
    <p>Note: Click on Request ID to see request details.</p>
    <table class="table table-striped listcontents">
        <tbody>
        <tr>
            <th scope="col">To-Do Quest ID</th>
            <th scope="col">Request Title</th>
            <th scope="col">Request Status</th>
            <th scope="col">Answer</th>
        </tr>
        {% for resultitem in result %}
        <tr>
            <td>{{ resultitem.todoID }}</td>
            <td><a href="requestdetails/{{resultitem.requestID}}" title="View Details" target="_blank">{{ resultitem.title }}</a></td>
            <td>{{ resultitem.status }}</td>
            {% if resultitem.status == "Accepted" %}
                <td><a href="answerrequest/{{resultitem.requestID}}" title="Answer Request"><ion-icon name="reader-outline"></ion-icon> Answer</a></td>
            {% else %}
                <td>Answer submitted</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}